[submodule "mysql"]
	path = mysql
	url = git@github.com:Microsoft/MySQL-Provider.git
	branch = master
[submodule "pal"]
	path = pal
	url = git@github.com:Microsoft/pal-pr.git
	branch = main
[submodule "omi"]
	path = omi
	url = git@github.com:Microsoft/omi-pr.git
	branch = main
